.container {
  padding: 20px;
}

.title {
  padding: 6px 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.list {
  padding: 12px;
  margin: 20px 0;
  background: rgb(235, 236, 240);
}

.list_empty {
  color: #4d535c;
}

.list_item {
  padding: 8px 12px;
  background: #fff;
}

.list_item:not(:last-child) {
  margin-bottom: 10px;
}

.list_item_header {
  display: flex;
  align-items: center;
}

.list_item_title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1f242e;
  font-size: 16px;
}

.list_item_content {
  padding-left: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
